<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>Allows Apple Events access to read now playing info from Music.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_airplay._tcp.</string>
	</array>
	<key>SUFeedURL</key>
	<string>https://github.com/Skyline-23/Applepie-RPC/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>MblEDMHbxI4NfBFw1rDRyFQm44AkF5O4JKf+b2d0BFY=</string>
</dict>
</plist>
